transformers==5.5.3
torch==2.7.0
nltk==3.9.1
sentencepiece==0.2.1
underthesea==9.4.0
bertopic==0.17.4
pyvi==0.1.1
sentence_transformers==5.2.3
hdbscan==0.8.41
librosa==0.11.0
numpy==2.4.4
pandas==2.2.3
tiktoken==0.12.0
sentencepiece==0.2.1
fastapi==0.119.1

